<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FairiesMemberManage" connectionString="data source=.;uid=sa;pwd=wyan0917;database=zx20111224;Connection Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="AMSCM" connectionString="server=localhost;uid=sa;pwd=wyan0917;database=AMSCM_XG_ZX;packet size=4096;Connect Timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ModelFilePath" value="E:\SVN\程序\道讯管理系统\program\FairiesMemberManage\DXInfo.Models"/>
    <add key="DbContextFilePath" value="E:\SVN\程序\道讯管理系统\program\FairiesMemberManage\DXInfo.Data"/>
    <add key="ConfigurationFilePath" value="E:\SVN\程序\道讯管理系统\program\FairiesMemberManage\DXInfo.Data\Configuration"/>
    <add key="IUowFilePath" value="E:\SVN\程序\道讯管理系统\program\FairiesMemberManage\DXInfo.Data.Contracts"/>
    <add key="UowFilePath" value="E:\SVN\程序\道讯管理系统\program\FairiesMemberManage\DXInfo.Data"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
