<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Media_glass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <userSettings>
    <Media_glass.Properties.Settings>
      <setting name="LibraryTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LibraryLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MediaLeft" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MediaTop" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MediaWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MediaHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PlayListChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LibraryChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsAnimated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Resolution" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="FrameSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RepeatState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlayedGroupIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PlayedListIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="FirstListWindowColumnWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SecondListWindowColumnWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="History" serializeAs="String">
        <value />
      </setting>
      <setting name="ListContentWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListContentHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LibraryContentWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LibraryContentHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ListHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LibraryWidth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LibraryHeight" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>道讯播放器</value>
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value>道讯播放器</value>
      </setting>
      <setting name="ProductVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="ThirdListWindowColumnWidth" serializeAs="String">
        <value>-1</value>
      </setting>
    </Media_glass.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="FairiesMemberManage" connectionString="data source=localhost; Trusted_Connection=Yes;database=20111116xct" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
