<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FairiesMemberManage" connectionString="data source=192.168.1.203;uid=sa;pwd=$lx%zh!2010#;database=FairiesMemberManageServer" providerName="System.Data.SqlClient" />-->
    <!--<add name="FairiesMemberManage" connectionString="data source=192.168.1.5;uid=sa;pwd=$lx%zh!2010#;database=FairiesMemberManageClient_test" providerName="System.Data.SqlClient" />-->
    <!--<add name="FairiesMemberManage" connectionString="data source=192.168.1.133;uid=sa;pwd=911110;database=FairiesMemberManageClient" providerName="System.Data.SqlClient" />-->
    <!--<add name="FairiesMemberManage" connectionString="data source=.;uid=sa;pwd=wyan0917;database=FairiesMemberManageClient_XCT_20131215" providerName="System.Data.SqlClient" />-->
    <add name="FairiesMemberManage" connectionString="data source=192.168.1.5\sqlexpress_k3,2433;uid=sa;pwd=xxjk32013;database=FairiesMemberManageClient_test_dw;Connection Timeout=600" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="imageFilePath" value="D:\github\images" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <machineKey validationKey="0CE7854C0BADA630C9ADEB30D4308C5C2F98D12073F3BCC1E6693F315DDA62AB9952B30F4100070068926FE77EF56BF59A75486A9F9686124ACD361F49B0EF73" decryptionKey="30C254A6119475F46A4C02A4CB4B11D70D036C805C65D8F89F4663E65B9E6244" validation="SHA1" decryption="AES" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FairiesMemberManage" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordFormat="Encrypted" passwordAttemptWindow="10" applicationName="FairiesDataCenter" />
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>