<span id="toolbar" class="ui-widget-header ui-corner-all">
	            <button id="add">添加</button>
	            <button id="modify">修改</button>
	            <button id="delete">删除</button>
                <button id="save">保存</button>
                <button id="cancel">取消</button>
	            <button id="verify">审核</button>
                <button id="unverify">弃审</button>
                <button id="print">打印</button>
	            <button id="search">查找</button>
	            <button id="start">首条</button>
	            <button id="prev1">上条</button>
                <button id="next1">下条</button>
                <button id="end">末条</button>
            </span>